

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider {
	margin: 0 8px;
}

h1 .sub-headline {
	color: #888;
	font-weight: 300;
}

h2 {
    font-weight: 500;
}

/*
Specify size of the map container for leaflet
 */
#station-map {
    width: 100%;
    height: 600px;
}

#timeline {
    margin: 10px;
    width: 100%;
    height: 120px;
}

#chart1 {
    height: 500px;
}
#chart2 {
    height: 500px;
}

.detailed-chart {
    width: 100%;
    height: 100%;
}

.axis-red text {
    fill: red;
}

.axis-blue text {
    fill: steelblue;
}

.axis-label {
    text-anchor: middle;
    font-size: 12px;
}

.chart-title {
    text-anchor: middle;
    font-weight: 300;
}

.description {
    margin: 3px 10px;
}

.gas-form {
    margin: 5px auto;
}